@import "@/static/css/common/common.scss";

// tabs组件全局添加下边框线
.cl-tabs__header {
  border-bottom: $border-line;
}

// 全局bth组件高度更改
.cl-button {
  height: 54rpx;
}

// 首页滑动列表样式修改
.cl-scroller__wrap {
  padding-bottom: 120rpx;
  box-sizing: border-box;
}

// 下拉刷新样式
.uni-scroll-view-refresh-inner {
  box-shadow: none;
}

.uni-scroll-view-refresh__spinner > circle {
  color: #00c58e !important;
}

// 资讯页Tabs组件样式修改
.news-content {
  .cl-tabs__bar-box {
    display: flex;

    .cl-tabs__bar-item {
      flex: 1;
      font-size: 34rpx;
    }
  }
}

// 用户信息页Tabs组件样式修改
.userInfo {
  .cl-tabs__header {
    margin-bottom: 16rpx;
    border-top: $border-line;
    border-bottom: $border-line;

    .cl-tabs__bar-box {
      display: flex;

      .cl-tabs__bar-item {
        flex: 1;
        color: $article-desc-color;

        .cl-tabs__label {
          font-size: 30rpx;
        }
      }
    }
  }
}

// 我的页面组件样式修改
// .my-content {
//   .cl-action-sheet__label {
//     color: #dd524d;
//   }
// }

// 标签管理组件样式修改
.tag-management-content {
  .cl-tabs__bar-box {
    display: flex;

    .cl-tabs__bar-item {
      flex: 1;

      .cl-tabs__label {
        font-size: 32rpx;
      }
    }
  }
}

// 发布动态页组件样式调整
.publish-idea-wrapper {
  .uni-textarea-textarea,
  .uni-textarea-placeholder {
    font-size: 32rpx;
  }

  .cl-button {
    height: 56rpx;
  }
}
