.search-wrapper {
	.cl-search__input .cl-input {
		height: 64rpx;
	    border-radius: 5px !important;
		background-color: #EFF2F5;
		
		.input-placeholder {
			font-size: 26rpx;
			font-weight: 400;
		}

		.cl-input__clear {
			display: none;
		}
	}
	
	.cl-input.is-border {
	    border: none;
	}
}